@import "bootstrap.css";
@import "bootstrap-responsive.css";

body
{
    text-align: center;
    /*background: -webkit-linear-gradient(top,#ffffff,#808080);*/
    /*background: -moz-linear-gradient(top,#ffffff,#808080);*/
    /*background: -ms-linear-gradient(top,#ffffff,#808080);*/
    /*background: -o-linear-gradient(top,#ffffff,#808080);*/
    /*min-height: 491px;*/
}

#panel
{
    margin-left: auto;
    margin-right: auto;
    border-radius:  5px;
    border: 1px solid grey;
    width: 295px;
    padding: 20px;
    margin-top: 120px;
    box-shadow: 3px 3px 10px grey;
}

#panel form
{
    margin-top: 20px;
}

#panel label
{
    margin-right: 10px;
}

/*.icon_white*/
/*{*/
    /*background-color: #ffffff;*/
    /*cursor: pointer;*/
    /*border-radius: 6px*/
/*}*/

